.informationPanel {
    width: 320px;
    margin: 10px 10px 10px 0;
    border: 1px solid #cacaca;
    background-color: #ffffff;
}

.userInformation {
    display: flex;
}

.userThumbnail {
    width: 128px;
    height: 128px;
}

.userName {
    margin-left: 10px;
}
