.container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.emptyMessage {
    text-align: center;
}

.loadMore {
    height: 36px;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border: 1px solid #cacaca;
    background: #eee;
}

.spinner {
    margin-left: auto;
    margin-right: auto;
}
