.switch {
    height: 36px;
    transition: all .4s linear;
    border: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    outline: none;
    cursor: pointer;
}

.switchSecondary {
    transform: rotateY(180deg);
}

.switchText {
    transition: all .2s linear;
    display: inline-block;
}

.switchTextRotate {
    transform: rotateY(90deg);
}

.switchTextRotateIn {
    transform: rotateY(180deg);
}

.switchTextRotateNone {
    transform: rotateY(0deg);
}
