.container {
  height: 100%;
  background: linear-gradient(25deg, #08f 0%, #af3cff 90%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginElements {
  display: flex;
  flex-direction: column;

  //Small device
  @media screen and (max-width: 767px) {
    width: 320px;
  }
  //Medium device
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  //Desktop
  @media screen and (min-width: 992px) {
    width: 500px;
  }
  //Large desktop
  @media screen and (min-width: 1200px) {
    width: 580px;
  }

  input {
    height: 25px;
    padding: 5px 0 5px 5px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    margin-top: 5px;
  }

  input::placeholder {
    color: white;
    opacity: 1;
  }

  .actions {
    display: flex;
    //Small device
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    //Small device
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    a {
      width: 100%;
    }

    button, a > button {
      height: 32px;
      width: 100%;
      background: white;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-right: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-top: 5px;
    }

    button:hover {
      background: #dfdfdf;
    }
  }
}
