html, body, #root {
  height: 100%;
  margin: 0;
}

.fill-width {
  width: 100%
}

p, input, span, div, button, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
}

::-moz-focus-inner {
  border: none;
}
